<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>Catálogo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Catálogo</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item lines="none">
        <ion-label class="ion-text-end"> Solo activos </ion-label>
        <ion-toggle slot="end" name="onlyActive" checked [(ngModel)]="onlyActive" (ionChange)="onOnlyActiveChange()">
        </ion-toggle>
    </ion-item>

    <ion-list *ngIf="products && products.length > 0">
        <ion-list-header lines="inset">
            <ion-label>
                <strong>Productos</strong>
            </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let product of products" (click)="openProductModal(product)">
            <ion-label>
                <h2> {{product.name}} </h2>
                <h3>
                    <b style="margin-right: 5px;">{{product.price | currency:'CLP'}}</b>
                    <ion-text color="success">
                        <fa-icon icon="angle-double-up"></fa-icon> {{calculateProfit(product) | number : '1.2-2'}}%
                    </ion-text>
                </h3>
                <p> <i>{{product.description}}</i> </p>
                <p>
                    <ion-chip color="primary" *ngIf="product.canGoToFind">
                        <fa-icon icon="truck"></fa-icon>
                    </ion-chip>
                </p>
            </ion-label>

            <ion-badge slot="end" [color]="product.stock > 6 ? 'success' : product.stock <= 6 && product.stock >= 4 ? 'warning' : 'danger'">{{product.stock}}</ion-badge>
        </ion-item>
    </ion-list>

    <div class="vertical-center" *ngIf="!products || products.length === 0">
        <strong>
            No hay productos en el catálogo
        </strong>
        <p>
            Que tal si agregas un producto con el botón
            <fa-icon icon="plus-circle"></fa-icon>
        </p>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openProductModal(null)">
        <ion-fab-button>
            <fa-icon icon="plus" size="lg"></fa-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>