<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Catálogo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Catálogo</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item lines="none">
        <ion-label class="ion-text-end"> Solo activos </ion-label>
        <ion-toggle slot="end" name="onlyActive" checked [(ngModel)]="onlyActive" (ionChange)="onOnlyActiveChange()">
        </ion-toggle>
    </ion-item>

    <ion-list *ngIf="products && products.length > 0">
        <ion-list-header lines="inset">
            <ion-label>Productos</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let product of products" (click)="openProductModal(product)">
            <ion-label>
                <h2> {{product.name}} </h2>
                <h3> {{product.price | currency:'CLP'}} </h3>
                <p> {{product.description}} </p>
            </ion-label>

            <ion-badge slot="end" [color]="product.stock > 6 ? 'success' : product.stock <= 6 && product.stock >= 4 ? 'warning' : 'danger'">{{product.stock}}</ion-badge>
        </ion-item>
    </ion-list>

    <div class="vertical-center" *ngIf="!products || products.length === 0">
        <strong>
            No hay productos en el catálogo
        </strong>
        <p>
            Que tal si agregas un producto con el botón
            <fa-icon icon="plus-circle"></fa-icon>
        </p>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openProductModal()">
        <ion-fab-button>
            <fa-icon icon="plus" size="lg"></fa-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>