<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{product.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Nombre </ion-label>
                        <ion-input type="text" [(ngModel)]="product.name" name="name" #name="ngModel" required></ion-input>
                    </ion-item>
                    <ion-text *ngIf="name.errors?.required" color="danger">
                        <small>
                            El campo nombre es requerido
                        </small>
                    </ion-text>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Stock </ion-label>
                        <ion-input type="number" [(ngModel)]="product.stock" name="stock" #stock="ngModel" required></ion-input>
                    </ion-item>
                    <ion-text *ngIf="stock.errors?.required" color="danger">
                        <small>
                            El campo stock es requerido
                        </small>
                    </ion-text>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Descripción </ion-label>
                        <ion-input type="text" [(ngModel)]="product.description" name="description"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Link </ion-label>
                        <ion-input type="url" [(ngModel)]="product.link" name="link"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Precio por mayor </ion-label>
                        <ion-input type="number" [(ngModel)]="product.wholesalePrice" name="wholesalePrice"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Prendas por mayor </ion-label>
                        <ion-input type="number" [(ngModel)]="product.wholesaleGarments" name="wholesaleGarments"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Precio envío </ion-label>
                        <ion-input type="number" [(ngModel)]="product.sendPrice" name="sendPrice"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Precio </ion-label>
                        <ion-input type="number" [(ngModel)]="product.price" name="price" #price="ngModel" required></ion-input>
                    </ion-item>
                    <ion-text *ngIf="price.errors?.required" color="danger">
                        <small>
                            El campo precio es requerido
                        </small>
                    </ion-text>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Se puede ir a buscar </ion-label>
                        <ion-checkbox [(ngModel)]="product.canGoToFind" name="canGoToFind"></ion-checkbox>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-lg="6">
                    <ion-item>
                        <ion-label position="stacked"> Activo </ion-label>
                        <ion-checkbox [(ngModel)]="product.active" name="active"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button class="ion-margin" expand="block" [disabled]="form.invalid" (click)="saveProduct()">
            <fa-icon icon="save" class="ion-margin-end"></fa-icon>
            Guardar
        </ion-button>
    </form>
</ion-content>