<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Producto</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-margin">
        <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Color</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Link</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Precio por mayor</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Prendas por mayor</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Precio envío</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Se puede ir a buscar</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Precio</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Activo</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>

    <ion-button class="ion-margin" expand="block" (click)="saveProduct()">
        Guardar
    </ion-button>
</ion-content>